.*
!.github/
!.github/workflows/
!.github/workflows/*
*.swp
*.swo
*.bak
*.o
*.elf
*.mo
*.iso
docs/*
!docs/*/
!docs/**/
!docs/index.md
!docs/getting-started.md
!docs/testing-guide.md
!docs/current-limitations.md
!docs/task-conf-dsl.md
test
obj-x86_64
bin-x86_64
obj-aarch64
bin-aarch64
build/
compile_commands.json
build.sh
kernel/kallsyms_all.c
kernel/git_version.c
asm_offsets_gas.h
asm_offsets_nasm.inc
initrd_embed.h
run.sh
